.body {
  height: 100vh;
  width: 100%;
  user-select: none;
  margin: auto;
  position:fixed;
  overflow:hidden;
  touch-action: manipulation;
  background: aliceblue;
}

#mainTable{
  height: 420px;
  width: 360px;
  margin: 0 auto;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}

#mainHeader {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.infoButton {
  border: 1px solid black;
  border-radius: 100%;
  padding-left: 5px;
  padding-right: 5px;
  margin:20px;
  transform: scale(1.5);
}

/* animation combo -----------------------------------*/
@keyframes infoButton {
  0% {}
  100% {background-color:white;}
}
.infoButton:active {
  animation-name: infoButton;
  animation-duration: 0.2s;
  background-color:#6AAA64;
  animation-fill-mode: forwards;
}
/* -------------------------------------------------- */

.infoHeader {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  font-weight: bold;
}

.infoText {
  width:75%;
  margin: 0 auto;
  border-bottom: 1px solid #787C7E;
  margin-bottom: 5px;
}

.finePrint {
  text-align: center;
  font-style: italic;
  font-size: 12px;
  padding-top: 20px;
}

.statsText {
  text-align: center;
}

.statsTable td {
  border-right: 2px solid grey;
  padding: 10px;
}

.score {
  font-size: 5vw;
  padding: 20px;
}

.nextPlay {
  padding: 15px;
  margin-top: 15px;
  font-weight: bold;
  border-top: 1px solid #787C7E;
}

#nextPegordle {
  font-size: 4vw;
  color: #00bcd4;
}

.shareButton {
  border-radius: 10px;
  background-color: green;
  width: fit-content;
  font-weight: bold;
  padding: 16px;
  margin: 0 auto;
  margin-top: 20px;
}

.shareButton:active {
  transform:scale(1.20);
}

.exampleTable td {
  border: 1px solid black;
  padding: 5px;
  font-weight: bold;
}

.popUpInfo {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  padding-bottom: 20px;
  background: white;
  border: 2px solid #787C7E;
  border-radius: 5px;
  box-shadow: 0px 0px 16px 3px black;
  left: 0;
  right: 0;
  top: 10%;
  z-index: 100;
  position: absolute;
  margin: 0 auto;
  display: none;
}

.closePopUpInfoButton {
  height: auto;
  width: auto;
  margin: 5%;
  padding-left: 6px;
  padding-right: 6px;
  font-size: inherit;
  text-align: center;
  border-radius: 100%;
  background: #ffffff;
  position: absolute;
  line-height: 35px;
  right: 0;
}

.closePopUpInfoButton:active {
  transform: scale(1.10);
}

.popUpMsg {
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  background: rgb(120,124,126, 0.75);
  font-size: 3vw;
  color: white;
  border: 1px solid white;
  font-family: fantasy;
  left: 0;
  right: 0;
  top: 8vh;
  z-index: 101;
  position: absolute;
  margin: 0 auto;
  padding: 20px;
  display: none;
}

.headerItem {
  font-family: fantasy, san-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.rowElement {
  height: 15%;
  width: 100%;
  padding: 4px;
}

.colElement {
  font-size: 36px;
  line-height: 62px;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  height: 100%;
  width: 17%;
  border: 2px solid #D3D6DA;
  display: inline-block;
  margin: 2px;
}

.keyboard {
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin-bottom: 30px;
  white-space: nowrap;
  margin: 0 auto;
}

.keyboardRow {
  width: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.keyboardElement {
  font-family: monospace;
  font-weight: bold;
  font-size: 4vw;
  height: fit-content;
  width: auto;
  border: 1px solid #D3D6DA;
  border-radius: 5px;
  background: #D3D6DA;
  display: inline-block;
  text-align: center;
  margin: 4px;
  padding-top: 3vw;
  padding-bottom: 3vw;
  padding-left: 3vw;
  padding-right: 3vw;
}

.keyboardElementTiny {
  font-family: monospace;
  font-weight: bold;
  font-size: 4vw;
  height: fit-content;
  width: auto;
  border: 1px solid #D3D6DA;
  border-radius: 5px;
  background: #D3D6DA;
  display: inline-block;
  text-align: center;
  margin: 1px;
  padding-top: 3vw;
  padding-bottom: 3vw;
  padding-left: 3vw;
  padding-right: 3vw;
}

.iconDelete {
  background-image: url("images/delete.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}

/* animation combo -----------------------------------*/
@keyframes correctKeyboardLetter {
  from {}
  to {  background-color: #6AAA64;
        border-color: #6AAA64;
        color:white;
      }
}
.correctKeyboardLetter {
  animation-name: correctKeyboardLetter;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}
/* -------------------------------------------------- */

/* animation combo -----------------------------------*/
@keyframes existsKeyboardLetter {
  from {}
  to {  background-color: #C9B458;
        border-color: #C9B458;
        color:white;
      }
}
.existsKeyboardLetter {
  animation-name: existsKeyboardLetter;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}
/* -------------------------------------------------- */

/* animation combo -----------------------------------*/
@keyframes incorrectKeyboardLetter {
  from {}
  to {  background-color: #787C7E;
        border-color: #787C7E;
        color:white;
      }
}
.incorrectKeyboardLetter {
  animation-name: incorrectKeyboardLetter;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}
/* -------------------------------------------------- */

/* animation combo -----------------------------------*/
@keyframes popLetter {
  from { transform: scale(0.80);}
  to { transform: scale(1.1);}
}
.addLetter {
  border-color: black;
  animation-name: popLetter;
  animation-duration: 0.1s;
}
/* -------------------------------------------------- */

/* animation combo -----------------------------------*/
@keyframes flipCorrect {
  0% {transform: scaleY(1);}
  70% {transform: scaleY(0.01);}
  100% {transform: scaleY(1);
        background-color: #6AAA64;
        border-color: #6AAA64;
        color:white;
      }
  
}
.correctLetter {
  animation-name: flipCorrect;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
/* -------------------------------------------------- */

/* animation combo -----------------------------------*/
@keyframes flipWrong {
  0% {transform: scaleY(1);}
  70% {transform: scaleY(0.01);}
  100% {transform: scaleY(1);
        background-color: #787C7E;
        border-color: #787C7E;
        color:white;
      }
  
}
.incorrectLetter {
  animation-name: flipWrong;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
/* -------------------------------------------------- */

/* animation combo -----------------------------------*/
@keyframes flipExists {
  0% {transform: scaleY(1);}
  70% {transform: scaleY(0.01);}
  100% {transform: scaleY(1);
        background-color: #C9B458;
        border-color: #C9B458;
        color:white;
      }
  
}
.existsLetter {
  animation-name: flipExists;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
/* -------------------------------------------------- */

/* animation combo -----------------------------------*/
@keyframes badWord {
  0% {transform: translateX(0px);}
  25% {transform: translateX(-10px);}
  50% {transform: translateX(10px);}
  75% {transform: translateX(-10px);}
  100% {transform: translateX(10px);}
}
.badWord {
  animation-name: badWord;
  animation-duration: 0.2s;
}
/* -------------------------------------------------- */